@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-border {
    -webkit-text-stroke: 0.075em theme(colors.blue.900);
}

body {
    @apply bg-sky-400;
    background-image: url("./assets/images/clouds.png");
    background-repeat: repeat;
    background-size: 300px 300px;
}
