@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.text-border {
    -webkit-text-stroke: 0.075em theme(colors.blue.900);
}

html {
    /* font-family: 'Roboto Condensed', 'sans-serif' */
    /* font-family: 'Chakra Petch', 'sans-serif'; */
    font-family: 'Delius', 'sans-serif';
    font-weight: 600;
    @apply text-blue-900;
}

body {
    @apply bg-sky-400;
    background-image: url("./assets/images/clouds.png");
    background-repeat: repeat;
    background-size: 300px 300px;
}
